@font-face {
  font-family: "Roobert";
  src: url("../public/Roobert-Regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tusker 2500";
  src: url("../public/TuskerGrotesk-2500Medium.woff2") format("woff2"), url("../public/TuskerGrotesk-2500Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tusker 3600";
  src:  url("../public/TuskerGrotesk-3600Semibold.woff") ;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tusker 5500";
  src: url("../public/TuskerGrotesk-5500Medium.woff2") format("woff2"), url("../public/TuskerGrotesk-5500Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}